 

        <nav>
            <div class="container main-navbar">
                <a href="#" class="logo">
                    {{!-- <img src="" alt=""> --}}
                    <h3>logo</h3>
                </a>
                <div class="nav-section">
                    <ul class="navlinks">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Become a Owner</a></li>
                        <li><a href="/">Want a room</a></li>
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/register">Register</a></li>
                        {{!-- <input class="searchbar" type="search" name="search" id="" placeholder="Search"> --}}
                    </ul>
                 
                </div>
            </div>
        </nav>
        
  

    